# Subfigure : uma sobre a outra
\begin{figure}[htp]
  \begin{center}
	\subfigure[]{\label{fig:${1:nomea}}
	 \includegraphics[width=${2:12cm}]{${3:fig/arquivo}}} ${4:\\}
	\subfigure[]{\label{fig:${5:nomeb}}
	 \includegraphics[width=${6:12cm}]{${7:fig/arquivo}}}
   \end{center}
	\caption{${8:Legenda}}
  \label{fig:${9:nome}}
\end{figure}
${10}
