\begin{table}[htb]
 \begin{center}
  \caption{${1:Legenda}}
  \label{tb:${2:nome}}
  \newcommand{\mc}[3]{\multicolumn{#1}{#2}{#3}}
  \newcommand{\mr}[3]{\multirow{#1}{#2}{#3}}
  \begin{tabular}{${2:ll}}
	\hline
	 ${3} &amp;  \\ \cline{2-3}
		  &amp;  \\ \hline
		  &amp;  \\
		  &amp;  \\ \hline
  \end{tabular}
 \end{center}
\end{table} 
${4}
